/* colors */

$white: #ffffff;
$dark-blue: #070167;
$yellow: #fbb13c;
$green: #3ba99c;
$light-green: #16bac5;
$red: #ff715b;
$black: #171d1c;
$light-gray: #c6d2e0;
$dark-gray: #808988;
$purple: #2428bb;