.section-1{
    margin-top: 200px;
    .section1-inner{
        margin-bottom: 100px;
        .s1-image1{
            img{
                height: 400px;
            }
        }
        .s1-image2{
            img{
                height: 400px;
                float: right;
            }
        }
        .s1-content{
            h2{
                color: $black;
                font-size: $h2;
                font-weight: 700;
                letter-spacing: 0.20px;;
                margin-bottom: 30px;
                line-height: 1.3;
            }
            p{
                color: $dark-gray;
                font-size: $l-para;
                line-height: 2.2;

                #yellow{
                    color: $yellow;
                    font-size: $xs-para;
                    margin-right: 30px;
                }
                #red{
                    color: $red;
                    font-size: $xs-para;
                    margin-right: 30px;
                }
                #green{
                    color: $green;
                    font-size: $xs-para;
                    margin-right: 30px;
                }

                .secp{
                    padding-left: 44px;
                }
            }
        }
        .section-banner-image{
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}